$box: 1px solid #D0D0D0;
$error: #f00;
$white:#fff;
$gray:#ddd;
body{}
table{width:100%}

@mixin linear-gradient($col1, $col2){
	background: $col1; /* Old browsers */
	background: -moz-linear-gradient(top, $col1 0%, $col2 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, $col1 0%,$col2 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, $col1 0%,$col2 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	
}

.box{border:$box;
	
	.header{border-bottom:$box;padding:5px 10px;@include linear-gradient(#eee, #ccc);}
	form{border:$box;
		input[type=text]{width:200px;display:inline-block;border:none;}
		button{display:inline-block;}
	}
}
.error{color:$error}
.whiteBg{background-color:$white}
.grayBg{background-color:$gray}

#stockFeeds{
	button{border:none;background-color:transparent;}
	td{padding:8px 10px}
}